* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;    
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    background-color: #ffffff;
    margin: 11px 24px;
    
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search input {
    width: 348px;
    height: 40px;
    border: 1px solid #cccccc;
}

.search button {
    width: 57px;
    height: 40px;
    background-color: #F5F5F5;
    border: 1px solid #cccccc;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    height: 34px;
}

.photo-profile {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F5F5F5;   
}

.watching-video {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin: 11px 24px;
}

.watching-video img {
    width: 952px;
    height: 573px;
}

.watching-video h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
}

.video-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 952px;
    height: 56px;
}

.channel-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.channel-info .logo-dio {
    height: 42px;
    width: 42px;
}

.dio-info {
    margin-left: 10px;
}

.dio-info h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.dio-info p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #515151;
}

button {
    width: 159px;
    height: 40px;
    background: #CC0000;
    border-radius: 2px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff; 
}

.action-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.action-icons h4 {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    margin-left: 10px;
}

.video-info {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin: 16px 0;
}

.video-description {
    width: 510px;
    height: 64px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #515151; 
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 160px;
    margin: 11px 24px;
    flex-grow: 1;
}

.video {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

.video img {
    width: 160px;
    height: 90px; 
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 10px;
}

.infos h4 {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px; 
    color: #000000;
    margin-bottom: 8px; 
}

.infos p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #515151;
    margin-bottom: 8px;
}